{% extends 'index/index.html' %}

{% block 'header_block' %}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    {% block header_text_block %}
                    <h1 class="mb-5">
                        {% if msj %}
                            {{msj}}
                        {% else %}
                            <h1 class="mb-5">SERIES</h1>
                        {% endif %}
                    {% endblock header_text_block %}
                </div>
            </div>
        </div>
    </div>
</header>
<p>
<ul>  
    <li><a href={% url 'crear_recomendacion_serie' %}>Crear Recomendación de Serie</a></li>
    <li><a href={% url 'busqueda_series' %}>Buscar recomendaciones de Series</a></li>
</ul>
</p>
{% endblock 'header_block' %}

{% block body_block %}

    <h3>Recomendaciones de series:</h3>

    {% for serie in lista_series %}
        <li>
            {{serie}}
            <p>
                <a href={% url 'actualizar_recomendacion_serie' serie.id %}>Editar</a>
                <a href={% url 'borrar_recomendacion_serie' serie.id %}>Borrar</a>
                <a href={% url 'datos_series' serie.id %}>Leer más</a>
            </p>
        </li>
    {% endfor %}
        {% if lista_series %}
            Número de recomendaciones: {{ lista_series|length }}
        {% else %}
            No existen recomendaciones aún.
        {% endif %}

{% endblock body_block %}