{% extends 'index/index.html' %}

{% block 'header_block' %}
{% endblock 'header_block' %}

{% block body_block %}
    <p>
        {% if msj %}
            {{msj}}
        {% endif %}
    </p>
    
    <p>
        <li>Nombre: {{request.user.first_name}}</li>
        <li>Apellido: {{request.user.last_name}}</li>
        <li>Email: {{request.user.email}}</li>
        {% if request.user.avatar.imagen %}
            <li>Imagen: <img src="{{request.user.avatar.imagen.url}}" alt="imagen de perfil"></li>
        {% endif %}
        <li>{{request.user.Avatar.link}}</li>
    </p>

    <a href={% url 'editar' %}>Editar datos</a>

{% endblock body_block %}
